*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
  }
  
li {
  list-style: none;
}

a{
  text-decoration: none;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  font-size: 2rem;
}